body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0 auto;
  background-color: black;
}

.background {
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto;
}

.home-div {
  text-align: center;
  padding-top: 18%;
}

.home-div-contact {
  display: flex;
  justify-content: center;
}

.home-div-contact-btn {
  border: 1px solid white !important;
  background-color: transparent;
  padding: 10px;
  margin: 20px;
  width: 100px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 4px;
}

.typer {
  white-space: pre;
  letter-spacing: 12px;
  color: white;
  margin: 0 auto;
  font-size: 3.5em;
  font-weight: 900
}


.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.5s infinite;
  -webkit-animation: typedjsBlink 0.5s infinite;
  animation: typedjsBlink 0.5s infinite;
  font-size: 5em;
  color: gray;
}

@keyframes typedjsBlink {
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink {
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}

.app-container {
  display: flex;
  height: 800px;
}


/**** Header ****/
.header-container {
  display: flex;
  justify-content: center;
}

.header-btn {
  background-color: transparent;
  color: white;
  font-size: .8em;
  font-weight: 200;
  border: 0;
  padding: 4px 14px 4px 14px;
  margin: 20px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.header-btn-active {
  border: 1px solid white;
  border-radius: 4px;
}

.main {
  position: absolute;
  top: 50px;
  width: 100%;
}


/**** Portfolio ****/
.portfolio-container {
  margin-top: 100px;
}

* {
  box-sizing:border-box;
  min-height: 0;
  min-width: 0;
}

.slick-dots {
  background-color: rgba(211,211,211,0.3);
  border: 1px solid black;
}

.carousel-container {
  background-color: rgba(211, 211, 211, 0.3);
  border: 1px solid black;
  height: 360px;
  padding: 50px;
}

.carousel-pic {
  margin-left: 10%;
  width: 80%;
}

.blogpost {
  width: 22%;
}

.expanded {
  width: 80% !important;
  z-index: 100;
  border: 2px solid rgb(211, 211, 211)
}

.inactive {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.cardmedia {
  display: none;
}

.blogmedia {
  overflow: hidden !important;
  height: 150px !important;
  border: 1px solid white !important;
  border-width: 1px 1px 0px 1px !important;
}

.blog-header {
  border: 1px solid white !important;
}

.blog-card {
  background-color: black !important;
  letter-spacing: 1px !important;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 24%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
  }

  .portfolio-container {
    margin-top: 180px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 130px;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
    background-color: rgba(211, 211, 211, 0.4);
  }

  .portfolio-container {
    margin-top: 40px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 140px;
    width: 50%;
    margin-left: 25%;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 24%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
  }

  .portfolio-container {
    margin-top: 180px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 130px;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
    background-color: rgba(211, 211, 211, 0.4);
  }

  .portfolio-container {
    margin-top: 40px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 140px;
    width: 50%;
    margin-left: 25%;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 24%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
  }

  .portfolio-container {
    margin-top: 180px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 130px;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
    background-color: rgba(211, 211, 211, 0.4);
  }

  .portfolio-container {
    margin-top: 40px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 140px;
    width: 50%;
    margin-left: 25%;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait)  {
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 24%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
  }

  .portfolio-container {
    margin-top: 180px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 130px;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .typer, .typed-cursor {
    font-size: 1em;
  }
  
  .home-div-contact {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
  }

  .home-div-contact-btn {
    width: 94%;
    margin: 4px;
    background-color: rgba(211, 211, 211, 0.4);
  }

  .portfolio-container {
    margin-top: 30px;
  }

  .carousel-container {
    height: 240px;
  }

  .carousel-pic {
    height: 140px;
    width: 50%;
    margin-left: 25%;
  }

  .blogmedia {
    height: 150px !important;
  }

  .blog-card div div:last-child figure img {
    max-width: 80%;
  }

  .blogpost {
    width: 70%;
    margin: 20px;
  }

  .inactive {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .active {
    margin-top: 20px;
  }

  .app-container {
    height: 500px;
  }
}